# Copie para .env e troque TODAS as senhas (use valores longos e aleatórios).
POSTGRES_PASSWORD=troque-esta-senha-do-superusuario
FIAS_ED_MIGRATOR_PASSWORD=troque-esta-senha-do-migrator
FIAS_ED_APP_PASSWORD=troque-esta-senha-da-aplicacao
DEVICE_ID=fias-ed-web
MAX_UPLOAD_BYTES=1610612736
MIN_AUDIO_SECONDS=60
MAX_AUDIO_SECONDS=9000
